ul {
    display: flex;
    width: 100%;
    /* border: green 2px dashed; */
    margin: 0.2vw 0 0.2vw 0;
    list-style-type: none;
    padding-left: 1vw;
}

li {
    font-size: 20px;
    border-bottom: 1px gray dashed;
    display: flex;
    align-items: end;
}

.trackTitle {
    width: 80%;
}

.trackDuration {
    display: flex;
    justify-content: center;
    width: 10%;
}

.trackPreview {
    width: 6%;
}

a {
    margin-left: 0.8vw;
}

.tracks_svg {
    width: 20px;
}

/* play by Тимур Минвалеев from the Noun Project */