.loader_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 2vw;
    width: 45vw;
}

.loader_gif {
    border-radius: 0;
    border-radius: 5%;
    margin: 5vw 0 3vw 0;
    width: 30vw;
}