.artistContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 16vw;
    justify-content: space-between;
    width: 15vw;
}

.artistPhoto {
    align-items: center;
    border-color: #007bff;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    height: 11vw;
    justify-content: center;
    overflow: hidden;
    width: 11vw;
}

.artistPhoto img {
    width: 100%;
}

.artistContainer h3 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.artistPhoto a {
    margin-left: 0;
}