.trackListGrid {
    width: 100%;
    min-height: 100vh;
}

.tracksWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trackListAndAlbumPhoto_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 3vw;
}

.trackListAndAlbumPhoto_wrapper img {
    width: 25vw;
}

span {
    font-size: 16px;
    color: gray;
}

h2 {
    font-size: 30px;
    margin-bottom: 0.3vw;
}

h5 {
    display: flex;
    justify-content: center;
    color: gray;
    margin-top: 0;
}