article {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vw;
    justify-content: space-between;
    margin: 3vw 0 0 0;
    width: 17vw;
}

h4 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    width: 100%;
}

img {
    border-radius: 10%;
    width: 17vw;
}

a {
    text-decoration: none;
}