.noArtistData_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 45vw;
}

.noArtistData_gif {
    border-radius: 0;
    border-radius: 5%;
    margin: 2vw 0 2vw 0;
    width: 30vw;
}