footer {
    padding: 1vw;
    color: white;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px dashed aqua;*/
    background-color: cadetblue;
    margin: 1vw;
}