footer {
    align-items: center;
    background-color: #1E1F1C;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding: 1vw;
    position: sticky;
    width: 95%;
}

.deezer_logo {
    border-radius: 0;
    width: 60px;
}