.PageContainer {
    width: 100%;
    background-color: #1E1F1C;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

h1 {
    font-size: 4vw;
}

h2 {
    display: flex;
    font-size: 2vw;
    justify-content: center;
}

.genrePicker {
    border: dotted 3px lightblue;
    display: flex;
    justify-content: center;
}

.genre {
    align-items: center;
    background-size: cover;
    border: dashed 3px greenyellow;
    display: flex;
    flex-direction: column;
    height: 28vw;
    justify-content: space-between;
    margin: 0 3vw 0 3vw;
    width: 15vw;
}

.genre a {
    align-items: center;
    background-color: rebeccapurple;
    border-radius: 50% 50% 50% 50%; /* Change back to 50% when the animation starts working */
    color: #fff;
    display: flex;
    font-size: 7vw;
    height: 8.5vw;
    justify-content: center;
    margin-top: 10vw;
    text-decoration: none;
    width: 8.5vw;
}

.genre h3 {
    background-color: rgb(204, 114, 122);
    display: flex;
    font-size: 1.8vw;
    justify-content: center;
    margin: 0;
    padding: 0.35vw 0 0.35vw 0;
    width: 100%;
}